<template>
  <div class="container contact_container">
    <BreadCrumbs />

    <!-- Map Container -->

    <!-- <div class="row">
      <div class="col">
        <div id="google_map">
          <div class="map_container">
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Contact Us -->

    <div class="row">
      <div class="col-lg-6 contact_col">
        <div class="contact_contents">
          <h1>Contact Us</h1>
          <p>
            There are many ways to contact us. You may drop us a line, give us a
            call or send an email, choose what suits you the most.
          </p>
          <div>
            <p>(+639) 3622-57616</p>
            <p>annamariecaraulia@gmail.com</p>
          </div>

          <div>
            <p>Open hours: 8:00AM-6:00PM Mon-Sat</p>
            <p>Sunday: Closed</p>
          </div>
        </div>

        <!-- Follow Us -->

        <div class="follow_us_contents">
          <h1>Follow Us</h1>
          <ul class="social d-flex flex-row">
            <li>
              <a href="#" style="background-color: #3a61c9"
              ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#" style="background-color: #41a1f6"
                ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#" style="background-color: #fb4343"
                  ><i class="fa fa-google-plus" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" style="background-color: #8f6247"
                    ><i class="fa fa-instagram" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-6 get_in_touch_col">
                <div class="get_in_touch_contents">
                  <h1>Get In Touch With Us!</h1>
                  <p>Do you have any concerns? Fill out the form below</p>
                  <form @submit.prevent="submitData">
                    <div>
                      <input
                      id="input_name"
                      class="form_input input_name input_ph"
                      type="text"
                      v-model="form.name"
                      placeholder="Name"
                      required="required"
                      data-error="Name is required."
                      />
                      <input
                      id="input_email"
                      class="form_input input_email input_ph"
                      type="email"
                      v-model="form.email"

                      placeholder="Email"
                      required="required"
                      data-error="Valid email is required."
                      />
                      <input
                      class="form_input input_website input_ph"
                      placeholder="Contact number"
                      required="required"
                      v-model="form.contact_number"

                      data-error="Name is required."
                      />
                      <textarea
                      id="input_message"
                      class="input_ph input_message"
                      name="message"
                      placeholder="Message"
                      rows="3"
                      required
                      v-model="form.message"
                      data-error="Please, write us a message."
                      ></textarea>
                    </div>
                    <div>
                      <button
                      id="review_submit"
                      type="submit"
                      class="red_button btn newsletter_submit_btn btn-danger trans_300"
                      value="Submit"
                      :disabled="isDisabled">
                      send message
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </template>

      <script>
      import BreadCrumbs from "@/views/partials/BreadCrumbs";

      export default {
        components: { BreadCrumbs },

        data() {
          return {
            isDisabled: false,
            form: {
              contact_number: '',
              name: '',
              email: '',
              message: ''
            }
          }
        },

        methods: {
          submitData() {
            this.isDisabled = true;
            this.$store.dispatch('activity/contact', this.form)
            .then(res => {
              if(res) {
               vm.swalSuccessMessage('Message successfully sent','The admin will response to you as soon as possible.');
              }
            })
            .catch(err => {
              vm.swalSuccessMessage('Message successfully sent','The admin will response to you as soon as possible.');
            })
            .finally(() => {
             setTimeout(() =>{
              this.isDisabled = false;
            }, 5000)
           })
          }
        }

      };
      </script>

      <style lang="scss">
      @import "@/assets/styles/contact_styles";
      @import "@/assets/styles/contact_responsive";
      </style>
