<template>
  <div>
    <!--    <div class="fs_menu_overlay"></div>
        <div class="hamburger_menu">

            <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>

            <div class="hamburger_menu_content text-right">
                <ul class="menu_top_nav">

                    <li class="menu_item has-children">
                        <a href="#">
                            My Account
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="menu_selection">
                            <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a></li>
                            <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a></li>
                        </ul>
                    </li>
                    <li class="menu_item"><a href="/">home</a></li>
                    <li class="menu_item"><a href="/shop">shop</a></li>
                    <li class="menu_item"><a href="/contact">contact</a></li>
                </ul>
            </div>
        </div>
 -->
    <!-- Slider -->
    <!-- <img src=""> -->
    <div class="main_slider" :style="backgroundImage">
      <div class="container fill_height">
        <div class="row align-items-center fill_height">
          <div class="col">
            <div class="main_slider_content">
              <h6>Casual Collection 2019</h6>
              <h1>Get up to 30% Off New Arrivals</h1>
              <div class="red_button shop_now_button">
                <a href="/shop" class="btn custom-anchor-white">Browse RTW</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <Banner />
    <AllProducts />
    <Benefits />
    <NewArrivals />
  </div>
</template>

<script>
import Banner from "@/views/partials/Banner";
import AllProducts from "@/views/partials/AllProducts";
import Benefits from "@/views/partials/Benefits";
import NewArrivals from "@/views/partials/NewArrivals";

export default {
  components: {
    Banner,
    AllProducts,
    Benefits,
    NewArrivals
  },
  computed: {
    backgroundImage() {
      return `background-image: url(${require("@/assets/images/slider_1.jpg")})`;
    }
  }
};
</script>
