<template>
  <div class="container single_product_container" v-if="account">
    <!-- Breadcrumbs -->

    <BreadCrumbs />

    <div class="row">
      <div class="col">
        <div class="checkout_area section_padding_100">
          <div class="container">
            <div class="row">
              <form @submit.prevent="updateData">
                <div class="col-lg-6 mx-auto col-sm-12 card py-3">
                  <nav>
                    <div
                      class="nav nav-justified nav-tabs"
                      id="nav-tab"
                      role="tablist"
                    >
                      <a
                        class="nav-item nav-link active"
                        id="nav-personal-information-tab"
                        data-toggle="tab"
                        href="#nav-personal-information"
                        role="tab"
                        aria-controls="nav-personal-information"
                        aria-selected="true"
                        >Personal Information</a
                      >
                      <a
                        class="nav-item nav-link"
                        id="nav-default-address-tab"
                        data-toggle="tab"
                        href="#nav-default-address"
                        role="tab"
                        aria-controls="nav-default-address"
                        aria-selected="false"
                        >Default Address</a
                      >
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div
                      class="tab-pane fade show active"
                      id="nav-personal-information"
                      role="tabpanel"
                    >
                      <div class="row  mt-4">
                        <div class="col-md-6 mb-4">
                          <label>First Name <span>*</span></label>
                          <input
                            type="text"
                            v-model="account.first_name"
                            class="form-control"
                            required
                          />
                        </div>
                        <div class="col-md-6 mb-4">
                          <label>Last Name <span>*</span></label>
                          <input
                            v-model="account.last_name"
                            type="text"
                            class="form-control"
                            required
                          />
                        </div>

                        <div class="col-12 mb-4">
                          <label>Email Address <span>*</span></label>
                          <input
                            type="email"
                            class="form-control"
                            v-model="account.email"
                          />
                        </div>

                        <div class="col-12 mb-4">
                          <label>Password <span>*</span></label>
                          <input
                            v-model="account.password"
                            type="password"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>

                    <div
                      class="tab-pane fade"
                      id="nav-default-address"
                      role="tabpanel"
                    >
                      <div class="row mt-4">
                        <div class="col-12 mb-3">
                          <label for="country">Country <span>*</span></label>
                          <select
                            class="w-100 custom-select d-block "
                            v-model="account.country"
                          >
                            <option selected value="philippines"
                              >Philippines</option
                            >
                          </select>
                        </div>
                        <div class="col-12 mb-3">
                          <label>Address <span>*</span></label>
                          <textarea
                            class="form-control"
                            rows="3"
                            v-model="account.address"
                          >
                          </textarea>
                        </div>
                        <div class="col-12 mb-3">
                          <label>zip code <span>*</span></label>
                          <input
                            type="text"
                            v-model="account.zip"
                            class="form-control"
                          />
                        </div>
                        <div class="col-12 mb-3">
                          <label>Town/City <span>*</span></label>
                          <input
                            type="text"
                            v-model="account.town_city"
                            class="form-control"
                          />
                        </div>
                        <div class="col-12 mb-3">
                          <label>Province <span>*</span></label>
                          <input
                            v-model="account.province"
                            type="text"
                            class="form-control"
                          />
                        </div>
                        <div class="col-12 mb-3">
                          <label>Phone No <span>*</span></label>
                          <input
                            type="text"
                            class="form-control"
                            v-model="account.phone_no"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <button
                        type="submit"
                        value="Submit"
                        class="btn btn-danger  newsletter_submit_btn pull-right trans_300"
                        :disabled="isDisabled"
                      >
                        Update
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BreadCrumbs from "@/views/partials/BreadCrumbs";

export default {
  components: { BreadCrumbs },

  data() {
    return {
      isDisabled: false
    };
  },

  computed: {
    account() {
      return this.$store.getters["account/getAccount"];
    }
  },

  created() {
    this.fetchData();
  },

  methods: {
    fetchData() {
      this.$store.dispatch("account/editAccount", { id: null });
    },

    async updateData() {
      this.isDisabled = true;
      await this.$store
        .dispatch("account/updateAccount", { id: null })
        .then(res => {
          if (res) {
            this.fetchData();
            vm.swalSuccessMessage("Account updated successfully.");
          }
        });

      return await setTimeout(() => {
        this.isDisabled = false;
      }, 3000);
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/single_styles";
@import "@/assets/styles/single_responsive";
</style>
