<template>
  <div>
    <div class="container single_product_container">
      <BreadCrumbs />

      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-6 col-sm-12 mx-auto">
            <div class="form-group">
              <div class="input-group">
                <input
                  type="text"
                  ref="search"
                  class="form-control"
                  name="search"
                  style="font-size: 1.2em"
                  placeholder="Search"
                  aria-label="Search"
                  v-model="searchValue"
                  aria-describedby="colored-addon3"
                  @keyup.enter="searchProduct"
                />
                <div class="input-group-append bg-secondary border-primary">
                  <span class="input-group-text bg-white">
                    <a style="cursor: pointer;" @click="searchProduct">
                      <i class="fa fa-search "></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <AllProducts ref="allProducts" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AllProducts from "@/views/partials/AllProducts";
import BreadCrumbs from "@/views/partials/BreadCrumbs";

export default {
  components: {
    AllProducts,
    BreadCrumbs
  },

  mounted() {
    this.$nextTick(() => {
      this.$refs.search.focus();
    });
  },

  computed: {
    searchValue: {
      get() {
        return this.$store.getters["products/searchProduct"];
      },
      set(val) {
        this.$store.commit("products/setSearchProduct", val);
      }
    }
  },

  methods: {
    searchProduct() {
      this.$refs.allProducts.fetchData();
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/single_styles";
@import "@/assets/styles/single_responsive";

.product_price {
  font-size: 16px;
}
</style>
