<template>
  <div v-if="info">
    <div class="container single_product_container">
      <BreadCrumbs />

      <div class="row">
        <div class="col-lg-6">
          <div class="single_product_pics card">
            <div class="row">
              <div class="col-lg-12 image_col order-lg-2 order-1">
                <div class="single_product_image">
                  <div
                    class="single_product_image_background"
                    :style="'background-image:url(' + info.image + ')'"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-5">
          <div class="product_details">
            <div class="product_details_title">
              <h2>{{ info.title }}</h2>
              <p>{{ info.description }}</p>
            </div>
            <div
              class="free_delivery d-flex flex-row align-items-center justify-content-center"
            >
              <span class="ti-truck"></span
              ><span>free delivery within dumaguete</span>
            </div>

            <div class="product_price mt-5">P {{ info.initial_rate }}</div>
            <h6 class="mt-2">
              P {{ info.succeeding_days_rate }} per succeding days
            </h6>

            <!-- <div class="quantity d-flex flex-md-row align-items-sm-center">
							<span>Days</span>
							<div class="quantity_selector">
								<span class="minus"><i class="fa fa-minus" aria-hidden="true" @click="[ days > 1 ? addMinusDay('-1') : '']"></i></span>
								<span id="quantity_value" v-text="days"></span>
								<span class="plus"><i class="fa fa-plus" aria-hidden="true" @click="addMinusDay('1')"></i></span>
							</div>
						</div> -->
            <div class="mt-4 red_button newsletter_submit_btn">
              <a href="Javascript:void(0)" @click.prevent="addToCart(info.id)"
                >add to cart</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BreadCrumbs from "@/views/partials/BreadCrumbs";

export default {
  components: { BreadCrumbs },
  data() {
    return {
      days: 1
    };
  },

  created() {
    this.singleProductDetails();
  },

  computed: {
    info() {
      return this.$store.getters["products/getSingleProduct"];
    }
  },

  methods: {
    singleProductDetails() {
      this.$store.dispatch("products/getSingleProduct", {
        slug: this.$route.params.slug
      });
    },

    addToCart(product_id) {
      if (vm.isAuth()) {
        this.$store
          .dispatch("activity/addToCart", {
            product_id: product_id,
            days: this.days
          })
          .then(res => {
            if (res) {
              this.$store.dispatch("activity/getCartCount");
              vm.swalSuccessMessage("product is added on cart");
            } else {
              vm.swalWarningMessage("product is already on cart");
            }
          });
      } else {
        vm.displayAuth();
      }
    },

    async addMinusDay(v) {
      this.days += +v;
      return await true;
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/single_styles";
@import "@/assets/styles/single_responsive";
</style>
