<template>
  <div v-if="pagination">
    <div class="row">
      <div class="col-lg-12">
        <div class="pull-right">
          <div class="text-center mb-2 mt-3">
            {{ paginationHead }}
          </div>

          <div class="btn-group" role="group">
            <button
              :class="buttonsClass"
              :disabled="+pagination.current_page <= 1 ? true : false"
              @click.prevent="paginateProducts(1)"
            >
              <span class="px-1">First</span>
            </button>
            <button
              :class="buttonsClass"
              :disabled="+pagination.from <= 1 ? true : false"
              @click.prevent="paginateProducts(pagination.current_page - 1)"
            >
              <i class="fa px-2 fa-angle-left"></i>
            </button>
            <input
              type="number"
              class="paginate-onenter-btn text-center"
              :placeholder="pagination.current_page"
              v-on:keyup.enter="paginateProducts($event.target.value)"
            />
            <button
              :class="buttonsClass"
              :disabled="
                +pagination.current_page >= +pagination.last_page ? true : false
              "
              @click.prevent="paginateProducts(pagination.current_page + 1)"
            >
              <i class="fa px-2 fa-angle-right"></i>
            </button>
            <button
              :class="buttonsClass"
              :disabled="
                +pagination.current_page >= +pagination.last_page ? true : false
              "
              @click.prevent="paginateProducts(pagination.last_page)"
            >
              <span class="px-1">Last</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      buttonsClass: "btn btn-sm btn-danger pagination text-center"
    };
  },

  computed: {
    pagination() {
      return this.$store.getters["products/getAllProductsPagination"];
    },

    paginationHead() {
      let page = this.pagination.current_page == 1 ? "page" : "pages";
      return `${page} ${this.pagination.current_page} of ${this.pagination.last_page}`;
    }
  },

  methods: {
    paginateProducts(val) {
      if (val > this.pagination.last_page) return false;

      val = vm.removeNotNumber(val);
      if (val == null || val == "") {
        return false;
      }
      return this.$parent.fetchData("&page=" + val);
    }
  }
};
</script>

<style scoped>
.paginate-onenter-btn {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
  width: 50px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
