<template>
  <div class="form-group">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        style="font-size: 1.2em"
        placeholder="Search"
        v-on:keyup.enter="searchData"
        v-model="value"
        @keyup="emitData($event)"
        aria-label="Search"
      />
      <div
        class="input-group-append bg-light border-primary"
        @click="searchData"
        style="cursor: pointer"
      >
        <span class="input-group-text bg-transparent">
          <i class="fa fa-search "></i>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: [],
  data() {
    return {
      value: ""
    };
  },
  methods: {
    searchData(e) {
      this.$emit("triggerSearch");
    },

    emitData(e) {
      this.$emit("input", e.target.value);
    }
  },

  watch: {
    search(val) {
      this.value = val;
    }
  }
};
</script>
