<template>
  <div v-if="products">
    <div class="new_arrivals">
      <div class="container">
        <div class="row align-items-center">
          <div class="col text-center">
            <div class="new_arrivals_sorting">
              <ul
                class="arrivals_grid_sorting clearfix button-group filters-button-group"
              >
                <li
                  class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center is-checked"
                  :class="[
                    category == null || category == 'null' ? 'active' : ''
                  ]"
                  @click="filterProducts('null')"
                >
                  all
                </li>

                <template v-if="categories">
                  <li
                    v-for="serverCategory in categories"
                    class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                    @click="filterProducts(serverCategory)"
                    :class="[serverCategory == category ? 'active' : '']"
                  >
                    {{ serverCategory }}
                  </li>
                </template>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row mt-5">
              <div
                v-for="product in products"
                class="product-item"
                :class="product.category"
              >
                <div class="product product_filter">
                  <div class="product_image" v-if="product.image">
                    <img :src="product.image" alt="" />
                  </div>
                  <div
                    class="favorite"
                    @click="addToFavorite(product.id)"
                    :class="[product.favorite ? 'active' : '']"
                  ></div>
                  <div class="product_info">
                    <h6 class="product_name">
                      <a :href="'/shop/single-product/' + product.slug">{{
                        product.title
                      }}</a>
                    </h6>
                    <div class="product_price">{{ product.price }}</div>
                  </div>
                </div>
                <div class="red_button add_to_cart_button w-100 mx-0">
                  <a
                    @click.prevent="addToCart(product.id)"
                    class="custom-anchor-white"
                    >add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <Pagination />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Skeleton from "@/views/components/Skeleton";
import Pagination from "@/views/components/Pagination";

export default {
  components: { Skeleton, Pagination },
  data() {
    return {
      category: null
    };
  },
  async created() {
    await this.$store.dispatch("products/getCategories");
    await this.fetchData();
    return await true;
  },

  computed: {
    ...mapGetters({
      products: "products/getAllProducts",
      pagination: "products/getAllProductsPagination",
      categories: "products/getCategories",
      searchValue: "products/searchProduct"
    })
  },

  mounted() {},

  methods: {
    fetchData(nextPrev) {
      this.$store.dispatch("products/getAllProducts", {
        data: {
          category: this.category,
          value: this.searchValue
        },
        nextPrev
      });
    },

    addToCart(product_id) {
      if (vm.isAuth()) {
        this.$store
          .dispatch("activity/addToCart", { product_id: product_id })
          .then(res => {
            if (res) {
              this.$store.dispatch("activity/getCartCount");
              vm.swalSuccessMessage("Product is added on cart");
            } else {
              vm.swalWarningMessage("Product is already on cart");
            }
          });
      } else {
        vm.displayAuth();
      }
    },

    filterProducts(category) {
      this.category = category;
      this.fetchData();
    },

    addToFavorite(product_id) {
      if (vm.isAuth()) {
        this.$store
          .dispatch("activity/addToFavorite", { product_id: product_id })
          .then(res => {
            this.fetchData();
            if (res) {
              vm.swalSuccessMessage("Product liked");
            } else {
              vm.swalSuccessMessage("Product unliked");
            }
          });
      } else {
        vm.displayAuth();
      }
    }
  }
};
</script>
