<template>
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="banner_item align-items-center" :style="banner1Image">
            <div class="banner_category">
              <a href="categories.html">casual</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="banner_item align-items-center" :style="banner2Image">
            <div class="banner_category">
              <a href="categories.html">accessories</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="banner_item align-items-center" :style="banner3Image">
            <div class="banner_category">
              <a href="categories.html">formal</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    banner1Image() {
      return `background-image: url(${require("@/assets/images/banner_1.jpg")})`;
    },

    banner2Image() {
      return `background-image: url(${require("@/assets/images/banner_2.jpg")})`;
    },

    banner3Image() {
      return `background-image: url(${require("@/assets/images/banner_3.jpg")})`;
    }
  }
};
</script>
