<template>
  <div class="benefit">
    <div class="container">
      <div class="row benefit_row">
        <!--  <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>delivery service</h6>
                            <p>add P30, we deliver</p>
                        </div>
                    </div>
                </div> -->
        <div class="col-lg-4 benefit_col">
          <div class="benefit_item d-flex flex-row align-items-center">
            <div class="benefit_icon">
              <i class="fa fa-money" aria-hidden="true"></i>
            </div>
            <div class="benefit_content">
              <h6>save cash</h6>
              <p>Food for 1 time use</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 benefit_col">
          <div class="benefit_item d-flex flex-row align-items-center">
            <div class="benefit_icon">
              <i class="fa fa-undo" aria-hidden="true"></i>
            </div>
            <div class="benefit_content">
              <h6>change-of-mind</h6>
              <p>Feel free to request a cancellation</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 benefit_col">
          <div class="benefit_item d-flex flex-row align-items-center">
            <div class="benefit_icon">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
            </div>
            <div class="benefit_content">
              <h6>opens at MON-SAT</h6>
              <p>9AM - 6PM</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
