<template>
  <div class="row" v-if="routes">
    <div class="col">
      <div class="breadcrumbs d-flex flex-row align-items-center">
        <ul>
          <li><a href="/">Home</a></li>
          <template v-for="(route, index) in routes">
            <li :class="[routes.length == index + 1 ? 'active' : '']">
              <a :href="route.url"
                ><i class="fa fa-angle-right" aria-hidden="true"></i
                >{{ route.title }}</a
              >
            </li>
          </template>
          <li>
            <a href="Javascript:void(0)" class="active"
              ><i class="fa fa-angle-right" aria-hidden="true"></i
              >{{ routeName }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },

  computed: {
    routeName() {
      return this.$route.name;
    },

    routes() {
      return [
        {
          url: "shop",
          title: "Shop"
        }
      ];
    }
  }
};
</script>
