<template>
  <div class="checkout">
    <a href="/cart">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <span v-if="cartCount > 0" id="checkout_items" class="checkout_items">{{
        cartCount
      }}</span>
    </a>
  </div>
</template>
<script>
export default {
  created() {
    this.getCartCount();
  },

  computed: {
    cartCount() {
      return this.$store.getters["activity/getCartCount"];
    }
  },

  methods: {
    getCartCount() {
      if (vm.isAuth()) {
        this.$store.dispatch("activity/getCartCount");
      }
    }
  }
};
</script>
