<template>
  <div>
    <header class="header trans_300">
      <!-- Main Navigation -->
      <div class="main_nav_container">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-right">
              <div class="logo_container">
                <a class="btn" href="/">Your<span>boutique</span></a>
              </div>
              <nav class="navbar">
                <ul class="navbar_user">
                  <li>
                    <router-link to="/shop"
                      ><i class="fa fa-search" aria-hidden="true"></i
                    ></router-link>
                  </li>
                  <li>
                    <div class="dropdown">
                      <a
                        href="Javascript:void(0)"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i class="fa fa-user" aria-hidden="true"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item"
                        @click.prevent="moveTo('/my-account')"
                          >My account</button
                        >
                        <button class="dropdown-item"
                        @click.prevent="moveTo('/cart')"
                         >Cart
                          </button>
                        <button class="dropdown-item"
                        @click.prevent="moveTo('/transactions')"
                          >More Transactions
                          </button>
                            <button class="dropdown-item"
                        @click.prevent="moveTo('/contact')"
                          >Contact Us
                          </button>
                        <button class="dropdown-item" @click.prevent="logoutUser"
                          >Logout
                          </button>
                      </div>
                    </div>
                  </li>
                  <li>
                    <Cart />
                  </li>
                </ul>
                <div class="hamburger_container" ref="hamburger">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div ref="fs_menu_overlay" class="fs_menu_overlay"></div>
    <div class="hamburger_menu">
      <div class="hamburger_close">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
      <div class="hamburger_menu_content text-right">
        <ul class="menu_top_nav">
          <li class="menu_item text-center">
            <a href="/my-account">
              My Account
            </a>
          </li>
          <li class="menu_item text-center">
            <a href="/transactions">
              More Transactions
            </a>
          </li>
          <li class="menu_item text-center"><a href="/shop">Shop</a></li>
          <li class="menu_item text-center"><a href="/cart">Cart</a></li>
          <li class="menu_item text-center"><a href="/contact">Contact Us</a></li>
          <li class="menu_item text-center">
            <a @click.prevent="logoutUser" href="Javascript:void(0)">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
// var header = $('.header');
// var topNav = $('.top_nav')
// var mainSlider = $('.main_slider');
// // var hamburger = $('.hamburger_container');
// var menu = $('.hamburger_menu');
// var menuActive = false;
// var hamburgerClose = $('.hamburger_close');
// var fsOverlay = $('.fs_menu_overlay');

import Cart from "@/views/partials/Cart";

export default {
  components: { Cart },

  data() {
    return {
      menuActive: false
    };
  },

  mounted() {
    this.initMenu();
  },

  methods: {
    logoutUser() {
      this.$store.dispatch("auth/logoutUser").then(() => {
        this.$router.push({ name: "Home" });
        window.location.reload();
      });
    },

    initMenu() {
      var fsOverlay = this.$refs.fs_menu_overlay;
      var hamburger = $(".hamburger_container");

      if (hamburger.length) {
        hamburger.on("click", () => {
          if (!this.menuActive) {
            this.openMenu();
          }
        });
      }

      if (fsOverlay.length) {
        fsOverlay.on("click", () => {
          if (this.menuActive) {
            this.closeMenu();
          }
        });
      }

      var hamburgerClose = $(".hamburger_close");

      if (hamburgerClose.length) {
        hamburgerClose.on("click", () => {
          if (this.menuActive) {
            this.closeMenu();
          }
        });
      }

      if ($(".menu_item").length) {
        // var items = document.getElementsByClassName('menu_item');
        // var i;
        // for(i = 0; i < items.length; i++)
        // {
        //     if(items[i].classList.contains("has-children"))
        //     {
        //         items[i].onclick = () =>
        //         {
        //             items.classList.toggle("active");
        //             var panel = items.children[1];
        //             if(panel.style.maxHeight)
        //             {
        //                 panel.style.maxHeight = null;
        //             }
        //             else
        //             {
        //                 panel.style.maxHeight = panel.scrollHeight + "px";
        //             }
        //         }
        //     }
        // }
      }
    },

    setHeader() {
      if (window.innerWidth < 992) {
      } else {
      }
      if (window.innerWidth > 991 && menuActive) {
        this.closeMenu();
      }
    },

    openMenu() {
      var fsOverlay = $(".fs_menu_overlay");
      var menu = $(".hamburger_menu");
      menu.addClass("active");
      fsOverlay.css("pointer-events", "auto");
      this.menuActive = true;
    },

    closeMenu() {
      var fsOverlay = $(".fs_menu_overlay");
      var menu = $(".hamburger_menu");
      menu.removeClass("active");
      fsOverlay.css("pointer-events", "none");
      this.menuActive = false;
    },

    moveTo(uri) {
      window.location.href = uri;
    }
  }
};
</script>

<style lang="scss">
.dropdown .dropdown-menu a.dropdown-item {
  width: 100% !important;
  // text-align: left;
}

.dropdown .dropdown-menu a:active {
  background: #fff !important;
}
</style>
