<template>
    <div class="best_sellers" v-if="products"> 
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_title new_arrivals_title">
                        <h2>New Arrivals</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="product_slider_container">

                        <div class="owl-carousel owl-theme product_slider">

                            <!-- Slide 1 -->

                            <div class="owl-item product_slider_item" v-for="product in products">
                                <div class="product-item">
                                    <div class="product discount">
                                        <div class="product_image">
                                            <img :src="product.image" alt="">
                                        </div>
                                        <div class="favorite" @click="addToFavorite(product.id)" :class="[product.favorite ? 'active' : '']"></div>

                                        <div class="product_info">
                                            <h6 class="product_name"><a :href="'/shop/single-product/'+product.slug">{{product.title}}</a></h6>
                                            <div class="product_price">{{product.price}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Slider Navigation -->
                        <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </div>
                        <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>

import { mapGetters } from "vuex";
// import carousel from 'vue-owl-carousel'

export default {
    components: {
    // carousel
},
data() {
    return {

    }
},

computed: {
    ...mapGetters({
        products: 'products/getNewArrivals'
    })
},

async created() {
  await this.fetchData();
  await this.initSlider()
},

methods: {

 async fetchData() {
    await this.$store.dispatch('products/getNewArrivals')
    return await true;
},

addToFavorite(product_id) {
    if(vm.isAuth()) {
        this.$store.dispatch('activity/addToFavorite',
            {product_id: product_id}).then(res => {
                if(res) {
                    vm.swalSuccessMessage('Product liked')
                } else {
                    vm.swalSuccessMessage('Product unliked')
                }
               return this.fetchData();
            }); 
        } else {
            vm.displayAuth()
        }
    },

    initSlider()
    {

        if($('.product_slider').length) {
            var slider1 = $('.product_slider');

            slider1.owlCarousel({
                loop:false,
                dots:false,
                nav:false,
                responsive:
                {
                    0:{items:1},
                    480:{items:2},
                    768:{items:3},
                    991:{items:4},
                    1280:{items:5},
                    1440:{items:5}
                }
            });

            if($('.product_slider_nav_left').length) {
                $('.product_slider_nav_left').on('click', function() {
                    slider1.trigger('prev.owl.carousel');
                });
            }

            if($('.product_slider_nav_right').length) {
                $('.product_slider_nav_right').on('click', function() {
                  slider1.trigger('next.owl.carousel');
              });
            }
        }
    }
}

};
</script>