<!-- Newsletter -->
<template>
  <div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div
          class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center"
          >
          <h4>Newsletter</h4>
          <p>
            Subscribe to our newsletter and get 20% off your first purchase
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <form @submit.prevent="submitData">
          <div
          class="newsletter_form d-flex align-items-center  justify-content-center"
          >


          <div class="input-group mb-3">
           <input
           id="newsletter_email"
           type="email"
           placeholder="Your email"
           v-model="email"
           class="form-control"
           required="required"
           data-error="Valid email is required."
           />

           <div class="input-group-append">
            <button
            id="newsletter_submit"
            type="submit"
            class="newsletter_submit_btn trans_300"
            >
            subscribe
          </button>
        </div>
           <code>{{responseMessage}}</code>
      </div>

    </div>




  </form>
</div>
</div>
</div>
</div>
</template>

<script>
export default {
  data() {
    return {
      responseMessage: '',
      email: ''
    }
  },

  methods: {
    submitData() {
      this.responseMessage = ''
      this.$store.dispatch('activity/subscribe', {
        email: this.email
      }).then(res => {
        if(res) {
          return vm.swalSuccessMessage('Email subscribed successfully');
        } else {
          return this.responseMessage = 'Email already subscribed';
        }
      }).catch(err => {
          return this.responseMessage = 'Email already subscribed';

      })
    }
  }

};
</script>
