<template>
  <div v-if="rows" class="py-3 container">
    <div class="col">
      <div class="row mt-5">
        <div v-for="product in rows" class="product-item">
          <div class="product product_filter">
            <div class="product_image" v-if="product.image">
              <img :src="product.image" alt="" />
            </div>
            <div
              class="favorite"
              @click="addToFavorite(product.id)"
              :class="[product.favorite ? 'active' : '']"
            ></div>
            <div class="product_info">
              <h6 class="product_name">
                <a :href="'/shop/single-product/' + product.slug">{{
                  product.title
                }}</a>
              </h6>
              <h5 class="text-danger">{{ product.price }}</h5>
            </div>
          </div>
          <div class="red_button add_to_cart_button w-100 mx-0">
            <a
              @click.prevent="addToCart(product.id)"
              class="custom-anchor-white"
              >add to cart</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  created() {
    this.fetchData();
  },

  computed: {
    rows() {
      return this.$store.getters["transactions/getFavorites"].data;
    },

    pagination() {
      return this.$store.getters["transactions/getFavorites"].pagination;
    }
  },

  methods: {
    fetchData(nextPrev) {
      this.$store.dispatch("transactions/getFavorites", { nextPrev });
    },

    addToCart(product_id) {
      if (vm.isAuth()) {
        this.$store
          .dispatch("activity/addToCart", { product_id: product_id })
          .then(res => {
            if (res) {
              this.$store.dispatch("activity/getCartCount");
              vm.swalSuccessMessage("Product is added on cart");
            } else {
              vm.swalWarningMessage("Product is already on cart");
            }
          });
      } else {
        vm.displayAuth();
      }
    },

    addToFavorite(product_id) {
      if (vm.isAuth()) {
        this.$store
          .dispatch("activity/addToFavorite", { product_id: product_id })
          .then(res => {
            this.fetchData();
            if (res) {
              vm.swalSuccessMessage("Product liked");
            } else {
              vm.swalSuccessMessage("Product unliked");
            }
          });
      } else {
        vm.displayAuth();
      }
    }
  }
};
</script>
