<template>
  <div class="container single_product_container">
    <!-- Breadcrumbs -->

    <BreadCrumbs :routes="breadcrumbsRoutes" />

    <div class="row">
      <div class="col">
        <div class="checkout_area section_padding_100">
          <div class="container">
            <div class="row">
              <div class="mx-auto col-md-12 col-sm-12 card py-3">
                <nav>
                  <div
                    class="nav nav-justified nav-tabs"
                    id="nav-tab"
                    role="tablist"
                  >
                    <a
                      class="nav-item nav-link active"
                      data-toggle="tab"
                      href="#pendings"
                      role="tab"
                      aria-selected="false"
                    >
                      Pendings
                    </a>

                    <a
                      class="nav-item nav-link"
                      data-toggle="tab"
                      href="#waiting-for-pick-up"
                      role="tab"
                      aria-selected="false"
                    >
                      Approved</a
                    >

                    <a
                      class="nav-item nav-link"
                      data-toggle="tab"
                      href="#on-going"
                      role="tab"
                      aria-selected="false"
                    >
                      On-going
                    </a>

                    <a
                      class="nav-item nav-link"
                      data-toggle="tab"
                      href="#favorites"
                      role="tab"
                      aria-selected="false"
                    >
                      Favorites
                    </a>

                    <a
                      class="nav-item nav-link"
                      data-toggle="tab"
                      href="#completed"
                      role="tab"
                      aria-selected="false"
                    >
                      Completed
                    </a>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div
                    class="tab-pane fade show active"
                    id="pendings"
                    role="tabpanel"
                  >
                    <Pendings />
                  </div>

                  <div
                    class="tab-pane fade"
                    id="waiting-for-pick-up"
                    role="tabpanel"
                  >
                    <WaitingForPickUp />
                  </div>

                  <div class="tab-pane fade" id="favorites" role="tabpanel">
                    <Favorites />
                  </div>

                  <div class="tab-pane fade" id="completed" role="tabpanel">
                    <Completed />
                  </div>

                  <div class="tab-pane fade" id="on-going" role="tabpanel">
                    <OnGoing />
                  </div>
                </div>
                <!-- 
										<div class="row">
											<div class="col-12">
												<button type="submit" value="Submit" class="btn btn-danger  newsletter_submit_btn trans_300" :disabled="isDisabled">Update</button>
											</div>
										</div>
									-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BreadCrumbs from "@/views/partials/BreadCrumbs";
import WaitingForPickUp from "./WaitingForPickUp";
import OnGoing from "./OnGoing";
import Completed from "./Completed";
import Favorites from "./Favorites";
import Pendings from "./Pendings";

export default {
  components: {
    BreadCrumbs,
    Pendings,
    WaitingForPickUp,
    OnGoing,
    Favorites,
    Completed
  },

  computed: {
    breadcrumbsRoutes() {
      return [
        {
          url: "shop",
          title: "Shop"
        },
        {
          url: "my-account",
          title: "My Account"
        }
      ];
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/single_styles";
@import "@/assets/styles/single_responsive";
</style>
