<template>
  <div v-if="rows" class="py-3 container">
    <div class="table-responsive">
      <table class="table mt-3 table-hover" v-if="!isMobile">
        <thead class="thead-light">
          <tr>
            <th scope="col">TRANSACTION ID</th>
            <th scope="col">PRODUCT</th>
            <th scope="col">DAY START AND END</th>
            <th scope="col">APPROVED QTY</th>
            <th scope="col">PENALTY</th>
            <th scope="col">AMOUNT</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in rows" :key="index" >
            <td>{{ item.transaction_id }}</td>
            <td>
              <div class="media">
                <div class="product_name">
                  <router-link
                  :to="'/shop/single-product/' + item.product_slug"
                  >{{ item.product_title }}</router-link
                  >
                </div>
              </div>
            </td>
            <td>
              {{ item.start_end }}
            </td>
            <td>{{item.approved_qty}}</td>
            <td>
              {{ item.penalty }}
            </td>
           
            <td>
              {{ item.amount }}
            </td>
          </tr>
        </tbody>
      </table>


 <table class="table mt-3 table-hover" v-else>
          <thead>
            <tr>
              <th scope="col">DETAILS</th>
            </tr>
          </thead>
          <tbody>
            <tr  v-for="(item, index) in rows" :key="index" class="card mb-3">
              <td>
                <div class="row">
                  <div class="col-lg-12">
                    <h5>TRANSACTION ID:&nbsp; {{item.transaction_id}}</h5>
                    <div class="customRowClass">
                      <h5>PRODUCT:&nbsp;</h5> <h5> <router-link
                        :to="'/shop/single-product/' + item.product_slug"
                        >{{ item.product_title }}</router-link
                        ></h5>
                      </div>
                      
                      <h5>PENALTY:&nbsp; {{item.penalty}}</h5>
                      <h5>DAY START AND END:&nbsp; {{item.start_end}}</h5>
                      <h5>APPROVED QTY:&nbsp; {{item.approved_qty}}</h5>
                      
                      <h5>AMOUNT:&nbsp; {{item.amount}}</h5>
                     
                      </div>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>






    </div>
  </div>
</template>

<script>

import mobileOrDesktop from '@/mixins/mobileOrDesktop.js';

export default {
  mixins: [mobileOrDesktop],

  created() {
    this.fetchData();
  },

  computed: {
    rows() {
      return this.$store.getters["transactions/getOnGoing"].data;
    },

    pagination() {
      return this.$store.getters["transactions/getOnGoing"].pagination;
    }
  },

  methods: {
    fetchData(nextPrev) {
      this.$store.dispatch("transactions/getOnGoing", { nextPrev });
    }
  }
};
</script>

<style>
.product_name {
  margin-top: 0;
}
</style>
