<template>
  <div v-if="rows" class="py-3 container">
    <div class="table-responsive">
      <table class="table mt-3 table-hover" v-if="!isMobile">
        <thead class="thead-light">
          <tr>
            <th scope="col">TRANSACTION ID</th>
            <th scope="col">PRODUCT</th>
            <th scope="col">REQUESTED AT</th>
            <th scope="col">AMOUNT</th>
            <th scope="col">REQUEST CANCELLATION</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in rows" :key="index">
            <td>{{ item.transaction_id }}</td>
            <td>
              <div class="media">
                <div class="media-body">
                  <div class="product_name">
                    <router-link
                    :to="'/shop/single-product/' + item.product_slug"
                    >{{ item.product_title }}</router-link
                    >
                  </div>
                </div>
              </div>
            </td>
            <td>
              {{ item.requested_at }}
            </td>
            <td>
              {{ item.amount }}
            </td>

            <td class="text-center">
              <a
              :class="[item.rental_requested ? 'disabled' : '']"
              href="Javascript:void(0)"
              @click="requestCancellation(item.rental_id)"
              class="custom-anchor btn"
              ><i class="fa fa-times"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table mt-3 table-hover" v-else>
          <thead>
            <tr>
              <th scope="col">DETAILS</th>
            </tr>
          </thead>
          <tbody>
            <tr  v-for="(item, index) in rows" :key="index" class="card mb-3">
              <td>
                <div class="row">
                  <div class="col-lg-12">
                    <h5>TRANSACTION ID:&nbsp; {{item.transaction_id}}</h5>
                    <div class="customRowClass">
                      <h5>PRODUCT:&nbsp;</h5> <h5> <router-link
                        :to="'/shop/single-product/' + item.product_slug"
                        >{{ item.product_title }}</router-link
                        ></h5>
                      </div>
                      <h5>REQUESTED AT:&nbsp; {{item.requested_at}}</h5>
                      <h5>AMOUNT:&nbsp; {{item.amount}}</h5>
                      <a 
                      :class="[item.rental_requested ? 'disabled' : '']"
                      href="Javascript:void(0)"
                      @click="requestCancellation(item.rental_id)"
                      class="custom-anchor w-100 btn-light btn "
                      ><i class="fa fa-times"></i
                        ></a>

                      </div>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>



          </div>
        </div>
      </template>

      <script>

      import mobileOrDesktop from '@/mixins/mobileOrDesktop.js';

      export default {
        mixins: [mobileOrDesktop],

        created() {
          this.fetchData();
        },

        computed: {
          rows() {
            return this.$store.getters["transactions/getPendings"].data;
          },

          pagination() {
            return this.$store.getters["transactions/getPendings"].pagination;
          }
        },

        methods: {
          fetchData(nextPrev) {
            this.$store.dispatch("transactions/getPendings", { nextPrev });
          },

          requestCancellation(rental_id) {
            vm.swal().then(res => {
              if (res) {
                this.$store
                .dispatch("transactions/requestRentalCancellation", { rental_id })
                .then(res => {
                  if (res) {
                    this.fetchData();
                    vm.swalSuccessMessage(
                      "Request of cancellation successfully submitted."
                      );
                  }
                });
              }
            });
          }
        }
      };
      </script>

      <style>
      .product_name {
        margin-top: 0;
      }
      </style>
