<template>
  <div v-if="rows" class="py-3 container">
    <div class="table-responsive">
      <h5 class="text-center mb-1">
        Approved rental request are ready to be picked-up
      </h5>
      <table class="table mt-3 table-hover" v-if="!isMobile">
        <thead class="thead-light">
          <tr>
            <th scope="col">TRANSACTION ID</th>
            <th scope="col">PRODUCT</th>
            <th scope="col">APPROVED AT</th>
            <th scope="col">AMOUNT</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in rows" :key="index">
            <td>{{ item.transaction_id }}</td>
            <td>
              <div class="media">
                <!-- <div class="d-flex">
												<img :src="item.image" alt="image" />
											</div> -->
                      <div class="media-body">
                        <div class="product_name">
                          <router-link
                          :to="'/shop/single-product/' + item.product_slug"
                          >{{ item.product_title }}</router-link
                          >
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    {{ item.approved_at }}
                  </td>
                  <td>
                    {{ item.amount }}
                  </td>

                  </tr>
                </tbody>
              </table>


              <table class="table mt-3 table-hover" v-else>
                <thead>
                  <tr>
                    <th scope="col">DETAILS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  v-for="(item, index) in rows" :key="index" class="card mb-3">
                    <td>
                      <div class="row">
                        <div class="col-lg-12">
                          <h5>TRANSACTION ID:&nbsp; {{item.transaction_id}}</h5>
                          <div class="customRowClass">
                            <h5>PRODUCT:&nbsp;</h5> 
                            <h5> <router-link
                              :to="'/shop/single-product/' + item.product_slug"
                              >{{ item.product_title }}</router-link
                              >
                            </h5>
                            </div>
                            <h5>APPROVED AT:&nbsp; {{item.approved_at}}</h5>
                            <h5>AMOUNT:&nbsp; {{item.amount}}</h5>
                          </div>
                        </div>
                      </td>
                    </tr>

                  </tbody>
                </table>


              </div>
            </div>
          </template>

          <script>

          import mobileOrDesktop from '@/mixins/mobileOrDesktop.js';

          export default {
            mixins: [mobileOrDesktop],

            created() {
              this.fetchData();
            },

            computed: {
              rows() {
                return this.$store.getters["transactions/getAccepted"].data;
              },

              pagination() {
                return this.$store.getters["transactions/getAccepted"].pagination;
              }
            },

            methods: {
              fetchData(nextPrev) {
                this.$store.dispatch("transactions/getAccepted", { nextPrev });
              }
            }
          };
          </script>

          <style>
          .product_name {
            margin-top: 0;
          }
          </style>
