


a.custom-anchor{
	color: #fe4c50 !important;
	text-decoration: none;
}

a.custom-anchor-white{
	color:  #fff !important;
	text-decoration: none !important;
}

a.custom-anchor-white:hover{
	color:  #fff !important;
	text-decoration: none !important;
}

.custom-remove-underline{
	text-decoration: none !important;
}


.custom-color-default {
	color: #fe4c50 !important;
	font-weight: 900;
}

.swal2-popup { font-size: .9rem !important; }

.btn-danger {
	background: #FE4C50 !important;
}

.nav-link {
	color: black;
}

.nav-link.active {
	color: white !important;
	background-color: #FE4C50 !important;
}

.nav-link:hover {
	color: grey !important;
}

.nav-link.active:hover {
	color: white !important;
}

.customRowClass {
	display: flex; 
	flex-direction: row; 
	align-items: center;
}