<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome.scss";

@import "~bootstrap/scss/bootstrap";

@import "@/assets/plugins/OwlCarousel2-2.2.1/owl.carousel";
@import "@/assets/plugins/OwlCarousel2-2.2.1/owl.theme.default";
@import "@/assets/plugins/OwlCarousel2-2.2.1/animate";


@import "@/assets/plugins/themify-icons/themify-icons";

@import "@/assets/styles/main_styles";

@import "@/assets/styles/responsive";

@import "@/assets/styles/custom";
</style>
