<template>
  <div>
    <Auth v-if="isNotLoggedIn" />

    <div class="super_container">
      <Header />

      <router-view></router-view>

      <Newsletter />

      <Footer />
    </div>
  </div>
</template>

<script>
import Header from "@/views/partials/Header";
import Footer from "@/views/partials/Footer";
import Newsletter from "@/views/partials/Newsletter";

import Auth from "@/modules/auth/Index";

export default {
  components: {
    Header,
    Footer,
    Newsletter,
    Auth
  },

  computed: {
    isNotLoggedIn() {
      return this.$store.getters["displayAuth"];
    }
  },

  mounted() {}
};
</script>
