<template>
  <div v-if="rows">
    <section class="cart_area section_padding mt-5">
      <div class="container">
        <div class="cart_inner">
          <div class="table-responsive">
            <table class="table" v-if="!isMobile">
              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Initial Price Rate</th>
                  <th scope="col">Addition Rate</th>
                  <th scope="col">Qty</th>
                  <th scope="col">Days</th>
                  <th scope="col">Total</th>
                  <th scope="col">Remove Item</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in rows" :key="index">
                  <td>
                    <div class="media">
                      <div class="d-flex">
                        <img :src="item.image" alt="image" />
                      </div>
                      <div class="media-body">
                        <router-link :to="'/shop/single-product/' + item.slug"
                        ><p>{{ item.title }}</p></router-link
                        >
                      </div>
                    </div>
                  </td>
                  <td>
                    <h5>₱ {{ item.initial_rate }}</h5>
                  </td>
                  <td>
                    <h5>₱ {{ item.succeeding_days_rate }}</h5>
                  </td>
                  <td>
                    <div class="product_count inline">
                      <a
                      href="Javascript:void(0)"
                      @click.prevent="
                      [
                      (item.qty =
                      +item.qty -
                      (+item.qty == 1 ? 0 : 1))
                      ]
                      "
                      class="custom-anchor"
                      >
                      <span class="input-number-decrement">
                        <i class="ti-minus"></i
                          ></span>
                        </a>
                        <input
                        v-model="item.qty"
                        class="input-number"
                        @input="removeNotNumber($event, index)"
                        type="text"
                        />
                        <a
                        class="custom-anchor"
                        href="Javascript:void(0)"
                        @click.prevent="
                        [(item.qty = +item.qty + 1)]
                        "
                        >
                        <span class="input-number-increment">
                          <i class="ti-plus"></i
                            ></span>
                          </a>
                        </div>
                      </td>
                      <td>
                        <div class="product_count inline">
                          <a
                          href="Javascript:void(0)"
                          @click.prevent="
                          [
                          (item.requested_days =
                          +item.requested_days -
                          (+item.requested_days == 1 ? 0 : 1))
                          ]
                          "
                          class="custom-anchor"
                          >
                          <span class="input-number-decrement">
                            <i class="ti-minus"></i
                              ></span>
                            </a>
                            <input
                            v-model="item.requested_days"
                            class="input-number"
                            @input="removeNotNumber($event, index)"
                            type="text"
                            />
                            <a
                            class="custom-anchor"
                            href="Javascript:void(0)"
                            @click.prevent="
                            [(item.requested_days = +item.requested_days + 1)]
                            "
                            >
                            <span class="input-number-increment">
                              <i class="ti-plus"></i
                                ></span>
                              </a>
                            </div>
                          </td>
                          <td>
                            <h5> ₱
                              {{
                                (item.total = calculateTotal(
                                item.initial_rate,
                                item.succeeding_days_rate,
                                item.requested_days,
                                item.qty
                                ))
                              }}
                            </h5>
                          </td>

                          <td class="text-center">
                            <a
                            href="Javascript:void(0)"
                            @click.prevent="removeToCart(item.product_id)"
                            class="custom-anchor"
                            ><i class="fa fa-times"></i
                              ></a>
                            </td>
                          </tr>

                        </tr>
                      </tbody>
                    </table>


                    <table class="table" v-else>
                      <thead>
                        <tr>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr  v-for="(item, index) in rows" :key="index" class="mb-2">
                          <td class="card">
                            <div class="row">
                              <div class="col-lg-12">
                                <div>
                                  <div class="d-flex" style="justify-content:center">
                                    <img :src="item.image" alt="image" />
                                  </div>

                                  <div class="customRowClass">
                                   <h4>NAME:&nbsp;</h4> <h4> <router-link
                                    :to="'/shop/single-product/' + item.product_slug"
                                    >{{ item.title }}</router-link
                                    ></h4>
                                  </div>
                                </div>

                                <h4 class="mb-1">INITIAL PRICE RATE: &nbsp; ₱ {{item.initial_rate}} </h4>
                                <h4 class="mb-4">ADDITION RATE: &nbsp; ₱ {{item.succeeding_days_rate}}</h4>

                                <div class="customRowClass  mb-4">
                                  <h4 class="mr-2">QNTY:&nbsp;</h4> 
                                  <div class="product_count inline">
                                    <a
                                    href="Javascript:void(0)"
                                    @click.prevent="
                                    [
                                    (item.qty =
                                    +item.qty -
                                    (+item.qty == 1 ? 0 : 1))
                                    ]
                                    "
                                    class="custom-anchor"
                                    >
                                    <span class="input-number-decrement">
                                      <i class="ti-minus"></i
                                        ></span>
                                      </a>
                                      <input
                                      v-model="item.qty"
                                      class="input-number"
                                      @input="removeNotNumber($event, index)"
                                      type="text"
                                      />
                                      <a
                                      class="custom-anchor"
                                      href="Javascript:void(0)"
                                      @click.prevent="
                                      [(item.qty = +item.qty + 1)]
                                      "
                                      >
                                      <span class="input-number-increment">
                                        <i class="ti-plus"></i
                                          ></span>
                                        </a>
                                      </div>
                                    </div>

                                    <div class="customRowClass">
                                      <h4  class="mr-2">DAYS:&nbsp;</h4> 
                                      <h4 class="mb-3">
                                        <div class="product_count inline">
                                          <a
                                          href="Javascript:void(0)"
                                          @click.prevent="[
                                          (item.requested_days =
                                          +item.requested_days -
                                          (+item.requested_days == 1 ? 0 : 1))
                                          ]"
                                          class="custom-anchor"
                                          >
                                          <span class="input-number-decrement">
                                            <i class="ti-minus"></i
                                              ></span>
                                            </a>
                                            <input
                                            v-model="item.requested_days"
                                            class="input-number"
                                            @input="removeNotNumber($event, index)"
                                            type="text"
                                            />
                                            <a
                                            class="custom-anchor"
                                            href="Javascript:void(0)"
                                            @click.prevent="
                                            [(item.requested_days = +item.requested_days + 1)]
                                            "
                                            >
                                            <span class="input-number-increment">
                                              <i class="ti-plus"></i
                                                ></span>
                                              </a>
                                            </div>
                                          </h4>
                                        </div>


                                        <h4> TOTAL: &nbsp; ₱  
                                          {{
                                            (item.total = calculateTotal(
                                            item.initial_rate,
                                            item.succeeding_days_rate,
                                            item.requested_days,
                                            item.qty
                                            ))
                                          }}
                                        </h4>

                                        <a 
                                        :class="[item.rental_requested ? 'disabled' : '']"
                                        href="Javascript:void(0)"
                                        @click="removeToCart(item.product_id)"
                                        class="custom-anchor w-100 btn-light btn "
                                        ><i class="fa fa-times"></i
                                          ></a>
                                        </div>
                                      </div>


                                    </td>


                                  </tr>              
                                </tbody>
                              </table>





                              <div class="checkout_btn_inner float-right">
                                <button class="newsletter_submit_btn mx-2" @click="moveToShop">
                                  Continue Browsing
                                </button>
                                <button
                                type="button"
                                @click.prevent="submitRequest"
                                class="newsletter_submit_btn"
                                >
                                Submit Request
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </template>

                <script>
                import mobileOrDesktop from '@/mixins/mobileOrDesktop.js';

                export default {
                  mixins: [mobileOrDesktop],

                  data() {
                    return {
                      isDisabled: true,
                      overAllTotal: 0,
                      products: [
                      {
                        product_id: 1,
                        requested_days: 2
                      },

                      {
                        product_id: 2,
                        requested_days: 2
                      }
                      ]
                    };
                  },

                  computed: {
                    rows() {
                      return this.$store.getters["cart/getCartProducts"];
                    }
                  },

                  methods: {
                    fetchData() {
                      this.$store.dispatch("cart/getCartProducts");
                    },

                    submitRequest() {
                      vm.swal().then(res => {
                        if (res) {
                          if (this.rows.length == 0) {
                            return vm.swalWarningMessage("Cart is empty");
                          }
                          let products = this.rows.map(item => {
                            return {
                              product_id: item.product_id,
                              requested_days: item.requested_days,
                              qty: item.qty,
                              total: item.total
                            };
                          });

                          this.$store
                          .dispatch("cart/submitRentalRequest", {
                            products: products
                          })
                          .then(res => {
                            if (res) {
                              this.fetchData();
                              this.$store.dispatch("activity/getCartCount");
                              vm.swalSuccessMessage("Rental request submitted successfully.");
                            }
                          });
                        }
                      });
                    },

                    removeNotNumber(e, index) {
                      let value = e.target.value.toString().replace(/[^0-9]/g, "");

                      this.$store.commit("cart/filterReqDays", {
                        index,
                        value
                      });
                    },

                    removeToCart(product_id) {
                      vm.swal().then(res => {
                        if (res) {
                          this.$store
                          .dispatch("cart/removeToCart", {
                            product_id: product_id
                          })
                          .then(res => {
                            vm.swalSuccessMessage("item removed successfully on cart");
                            this.$store.dispatch("activity/getCartCount");
                            this.fetchData();
                          });
                        }
                      });
                    },

                    calculateTotal(inital, succ, days, qty) {
                      if (days == "" && days == 0) {
                        days = 1;
                      }
                      inital = vm.removeNotNumber(inital);
                      succ = vm.removeNotNumber(succ);
                      let res = (+inital + +succ * +days) * +qty;

                      let total = vm.formatAsThousands(res);
                      return total;
                    },

                    moveToShop() {
                      this.$router.push({ name: "Shop" });
                    }
                  },

                  mounted() {
                    this.fetchData();
                  },

                  watch: {
                    rows: {
                      handler(val) {
                        let total = 0;

                        val.map(item => {
                          total += +vm.removeNotNumber(item.total);
                        });

                        return (this.overAllTotal = vm.formatAsThousands(total));
                      },
                      deep: true
                    }
                  }
                };
                </script>

                <style scoped lang="scss">
                @import "./_.scss";
                </style>
