

.pull-right {
	float: right !important;
}

.custom-text-black {
	color: black !important;
}

.custom-min-width-label {
	min-width: 50px !important;

}

.custom-pagination-space-around .pagination {
	justify-content: flex-end;
}

.list-group-item {
border: none; 
padding: .5em .5em;
}

.custom-lists-horizontal {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.custom-lists-horizontal li{
	margin: 0 5px;
}

.badge {
	min-width: 75px !important;
	color: white !important;
} 

.btn-primary {
    background: #E64533 !important;
    
}

/*upload photo*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

.custom-link-text {
    color: black;
    text-decoration: underline;
}
.page-link {
color: #E64533;
}
.page-item.active .page-link {
background: #E64533;

}